body {
    overflow-x:hidden;
    background: #eee;
}

.grid{
    margin: 0px -4px 0px 0px;
    
}
.gridItem, .gridSizer{
    width: 25%;
    /* height: 150px;; */
    transition: all .5s;
    /* margin: 0;
    padding: 0; */
}
.gridItem{
    margin: -2px;
    padding: 0;
}
.invis{
    height: 0;
    width: 0;   
}

header{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-items: center;
}
header h1{
    padding: 0;
    margin: 0;
    cursor: default;
    font-family: sans-serif;
    /* font-size: 1.5em; */
}

header .filter{
    height: 100%;
    margin: 0px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 700;
}
.info{
    text-align: right;
    font-family: sans-serif;
    font-weight: 700;
}
.info a{
    color: #000;
    text-decoration: none;
}
.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filtered{
    color: #b60;
}

.mobileMenu{
    display: none;
}

@media (max-width: 1250px){
    header h1{
        font-size: 1.5em;
    }
}

@media (max-width: 1000px){
    .gridItem, .gridSizer{
        width: 50%;
    }
    header{
        grid-template-columns: 33% 34% 33%;
        width: 100%;
    }
    .grid{
        margin-right: -4px;
    }
    .gridItem{
        margin: -2px;
        padding: 0px;
    }
    header h1{
        font-size: 1.3em;
    }
    header .filter, .info{
        font-weight: normal;
    }
}

@media (max-width: 950px){
    .mobileMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .mobileMenu div{
        padding: 10px;
    }
}

@media (max-width:600px){
    .gridItem, .gridSizer{
        width: 100%;
    }
    .info p{
        font-size: .7em;
    }
    header{
        grid-template-columns: 100%;
        grid-template-rows: auto;
        padding-bottom: 10px;
    }
    .info{
        display: flex;
        flex-direction: row;
    }
    .info p{
        padding: 5px;
    }
    header h1{
        padding: 25px 0px 10px 0px;
    }
    .mobileMenu{
        padding: 0px;
    }
}